[Desktop Entry]
Type=Application
Terminal=false
Icon=/home/shankar/bin/JabRef/JabRef.png
Exec=/home/shankar/Jabref/bin/JabRef
Name=JabRef
Comment=Bibtex manager
Categories=Office
