[Desktop Entry]
Enconding=UTF-8
Type=Application
Terminal=false
Icon=/home/shankar/bin/JabRef/JabRef.png
Exec=/snap/bin/jabref
Name=JabRef
Categories=Office;Development;
