[submodule "dotfiles/dotbot"]
	path = dotfiles/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles/sublime_settings"]
	path = dotfiles/sublime_settings
	url = https://github.com/skulumani/sublime_settings.git
[submodule "dotfiles/texmf"]
	path = dotfiles/texmf
	url = git@github.com:skulumani/texmf.git
