[submodule "dotfiles/dotbot"]
	path = dotfiles/dotbot
        url = https://github.com/anishathalye/dotbot
        ignore = dirty
[submodule "dotfiles/sublime_settings"]
	path = dotfiles/sublime_settings
	url = https://github.com/skulumani/sublime_settings.git
[submodule "dotfiles/texmf"]
	path = dotfiles/texmf
	url = git@github.com:skulumani/texmf.git
[submodule "dotfiles/.vim/bundle/Vundle.vim"]
	path = dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotfiles/.tmux/plugins/tpm"]
	path = dotfiles/.tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm.git
        ignore = dirty
