[submodule "dotfiles/dotbot"]
	path = dotfiles/dotbot
        url = https://github.com/anishathalye/dotbot
        ignore = dirty
[submodule "dotfiles/sublime_settings"]
	path = dotfiles/sublime_settings
	url = https://github.com/skulumani/sublime_settings.git
[submodule "dotfiles/texmf"]
	path = dotfiles/texmf
	url = https://github.com/skulumani/texmf.git
[submodule "dotfiles/.tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm.git
        ignore = dirty
[submodule "dotfiles/dircolors-solarized"]
	path = dotfiles/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "dotfiles/.config/base16-shell"]
	path = dotfiles/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "build_scripts/signal-cli"]
	path = build_scripts/signal-cli
	url = https://github.com/skulumani/signal-cli.git
[submodule "homeassistant"]
	path = homeassistant
	url = https://github.com/skulumani/homeassistant.git
