bundle/
plugins/
resurrect/
autoload/
plug.vim/
JabRef*.jar
*/.tmux/sidebar
.uuid

dotfiles/.mutt/shanks.k/bodies/*
dotfiles/.mutt/shanks.k/headers/*
dotfiles/.mutt/certificates
dotfiles/.vim/swap/*
dotfiles/vim/swap/*
dotfiles/bin/nvim
dotfiles/bin/borg
dotfiles/bin/drive
