snippet subfigure
\begin{subfigure}[htbp]{$1\textwidth} 
    \includegraphics[width=\textwidth]{$2} 
    \caption{$3 \label{fig:$4}} 
\end{subfigure}$5 
$0
endsnippet


snippet \(
\($1\)$0
endsnippet

