[Unit]Description=Borg User Backup

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStartPre=/home/$USER/bin/backup_local.sh -b
ExecStart=/home/$USER/bin/backup_local.sh -c
User=$USER
Group=$GROUP
